@using StokKontrolMvc.Models.Entity;

@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class=" form-group " method="post">
    <div>
        <label>Kategori Adı:</label>
        <input type="text" class=" form-control" name="KategoriAd" />
    </div>
    
    <br />
    <button class=" btn btn-info">Kategori Ekle</button>
</form>


